<div
  class="min-h-screen flex flex-col items-center justify-center bg-white dark:bg-gray-900 transition duration-500"
>
  <button
    (click)="toggleTheme()"
    class="absolute top-4 right-4 bg-gray-200 dark:bg-gray-800 text-gray-800 dark:text-gray-200 p-2 rounded theme-switcher transition duration-500"
  >
    <fa-icon [icon]="isDarkMode ? faSun : faMoon"></fa-icon>
  </button>
  <div class="text-center">
    <img
      src="assets/my-photo.jpeg"
      alt="Foto de Itallo Ramon"
      class="w-32 h-32 rounded-full mx-auto mb-4"
    />
    <h1
      class="text-4xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-green-500"
    >
      Itallo Ramon
    </h1>
    <p class="text-xl text-gray-600 dark:text-gray-400">
      Desenvolvedor FullStack
    </p>
    <div class="mt-8 space-y-4">
      <a
        href="https://github.com/itallo-ramon"
        class="block bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition"
      >
        GitHub
      </a>
      <a
        href="https://linkedin.com/in/itallo-ramon"
        class="block bg-blue-700 text-white py-2 px-4 rounded hover:bg-blue-800 transition"
      >
        LinkedIn
      </a>
      <a
        href="mailto:itallo.ramon@example.com"
        class="block bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600 transition"
      >
        Contato
      </a>
    </div>
  </div>
</div>
