@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:host {
  font-family: "Poppins", sans-serif;
}

.theme-switcher {
  border: none;
  background: none;
  cursor: pointer;
}

fa-icon {
  color: #555;
  font-size: 24px;
}
