<div
  class="min-h-screen flex flex-col items-center justify-center bg-white dark:bg-gray-900 transition duration-500 p-2"
>
  <div class="absolute top-4 right-4 space-x-2 flex items-center">
    <button
      (click)="toggleTheme()"
      class="text-gray-800 dark:text-gray-200 p-2 border-none bg-transparent cursor-pointer"
    >
      <fa-icon [icon]="isDarkMode ? faSun : faMoon"></fa-icon>
    </button>
    <button
      (click)="switchLanguage(translate.currentLang === 'en' ? 'pt' : 'en')"
      class="text-gray-800 dark:text-gray-200 p-2 border-none bg-transparent cursor-pointer"
    >
      {{ translate.currentLang.toUpperCase() }}
    </button>
  </div>
  <div class="text-center">
    <img
      src="assets/my-photo.jpeg"
      alt="Foto de Itallo Ramon"
      class="w-52 h-52 rounded-full mx-auto mb-4"
    />
    <h1
      class="text-4xl sm:text-6xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-green-500"
    >
      {{ "TITLE" | translate }}
    </h1>
    <p class="text-xl sm:text-2xl text-gray-600 dark:text-gray-400">
      {{ "ROLE" | translate }}
    </p>
    <div class="mt-8 space-y-4">
      <a
        href="https://github.com/italloramon"
        target="_blank"
        class="link-button block border-2 border-blue-500 text-blue-500 py-4 px-8 rounded sm:text-lg hover:bg-blue-500 hover:text-white transition"
      >
        {{ "GITHUB" | translate }}
      </a>
      <a
        href="https://linkedin.com/in/itallo-ramon"
        target="_blank"
        class="link-button block border-2 border-blue-700 text-blue-700 py-4 px-8 rounded sm:text-lg hover:bg-blue-700 hover:text-white transition"
      >
        {{ "LINKEDIN" | translate }}
      </a>
      <a
        href="mailto:irvp@ic.ufal.br"
        target="_blank"
        class="link-button block border-2 border-green-500 text-green-500 py-4 px-8 rounded sm:text-lg hover:bg-green-500 hover:text-white transition"
      >
        {{ "CONTACT" | translate }}
      </a>
    </div>
  </div>
</div>
